missing escape in `.abnf`'d `quoted-pair`

Today, I was made aware that one cannot blindly import ABNF via `.abnf/.cat` in their CDDL files (as we do with RFC9193's `Content-Type`).
One should also pay attention to interactions between nested parsers.

The relevant paragraph of RFC 9682 (which Carsten pointed me to) is the following:

> Note that this approach also works well with the use of byte strings
> in Section 3 of [RFC9165].  _It does require some care when copying-
> and-pasting into CDDL models from ABNF that contains single quotes
> (which may also hide as apostrophes in comments); these need to be
> escaped or possibly replaced by %x27._
>
> **Note 1**: Section 3 of [RFC9165] is `.abnf`
> **Note 2**: The prose above should warn to do the same thing for backslash (%5C).


Therefore, our
```abnf
quoted-pair    = "\" ( SP / VCHAR )
```
needs to be escaped, as in:
```abnf
quoted-pair    = "\\" ( SP / VCHAR )
```