Deb's AD review

---

* [x] General:  Please double check all code snippets and figures for correctness.

---

* [x] General:  What is the rationale for the word 'conceptual'?  Are the 'messages' theoretical? [I looked in RFC 9334 and it is never defined.]  At some point does this draft discuss real message types? Or only theoretical message types?

See https://github.com/ietf-rats-wg/draft-ietf-rats-msg-wrap/pull/238

---

* [x] Section 3.1:  Record CMWs can only be JSON or CBOR?  No other conceptual message representations are possible?

No.  ASN.1 has been discussed.  The rough consensus is to not include it in this version of the document.

For the details, see also sub-thread starting at https://mailarchive.ietf.org/arch/msg/rats/RMbum4W01sP2mZrD8qVa2K2W-jo/

---

* [x] Section 3.1, ind:  json-record has a bitmap?  How is that encoded?

Same as the CBOR `ind`.

Relevant excerpt from https://mailarchive.ietf.org/arch/msg/rats/jl_ZIS9jrw8FB4Fz3fyWuziiYlQ/ :

>  Yes, it is encoded in the same way as in the cbor-record.  It is described in §3.1.1 "CM Type" [4].
> For an example, see [5] where 0b0000_0011 (3) means Reference Values (0-th bit in the ind bit-map) + Endorsements (bit 1 in the ind bit-map).
> 
> [4] https://www.ietf.org/archive/id/draft-ietf-rats-msg-wrap-17.html#section-3.1.1
> [5] https://www.ietf.org/archive/id/draft-ietf-rats-msg-wrap-17.html#section-5.4

---

* [x] Section 3.3, para 6:  Can OIDs be something other than 'absolute’?

Proposal made in https://mailarchive.ietf.org/arch/msg/rats/YJomPOeuEAwGey-p-P5S-gmlzAk/

Relevant excerpt:

> More than happy to clarify, but I am slightly unsure what the specific ambiguity is, and therefore what the solution should be.
> 
> Are you suggesting:
> 
> OLD
>   The OID MUST be absolute.
> 
> NEW
>   The OID MUST be absolute and never relative.
> 
> as done in RFC9711?  Or something else?

---

* [x] Section 4.4, para 6:  'Legacy relying parties' will ignore non-critical extensions and will reject the certificate for unknown critical extensions.  Is this the desired outcome?  There are very few critical extensions in a certificate normally.  I suggest removing ', and there is a risk that legacy relying parties would bypass such controls.'

Hopefully explained in https://mailarchive.ietf.org/arch/msg/rats/YJomPOeuEAwGey-p-P5S-gmlzAk/

Relevant excerpt:

> It's Ned who brought up the use case, and he's likely a more authoritative voice for this, but I'll try to give my reading anyway.
> 
> Regarding the criticality of extensions, RFC5280, §4.2 states: "[…] caution ought to be exercised in adopting any critical extensions in certificates that might prevent use in a general context."
> 
> So, generally, for an extension that needs to be deployed across multiple environments and applications, "SHOULD NOT be marked critical" seems to be the sensible default choice.
> 
> If the extension is only deployed in controlled environments (e.g., the certificate is only used in the context of a specific, attestation-aware application), whether or not the extension is marked as critical is irrelevant, as the attestation-aware RP will process its contents either way.  So, the "SHOULD NOT be marked critical” remains a valid option here too.
> 
> The exception to this is the case highlighted in para 6, where “the attestation-related information is essential for granting resource access, and there is a risk that legacy relying parties would bypass such controls."  In this case, to avoid false positives, you really want to make an exception to the default rule and mark it as critical.

---

* [x] Section 7:  Please add the statement suggested by RFC 7942, section 2.1 to advise the Editor to remove the section before publication.

See https://github.com/ietf-rats-wg/draft-ietf-rats-msg-wrap/pull/237

---
