Is the `cmw` claim too coarse-grained to be useful?


Laurence made the proposal to drop the "cmw" CWT and JWT claims in favour of claims carrying more specific semantics: https://mailarchive.ietf.org/arch/msg/rats/u8Ug1k9DY27zQSccj_HnUmpDydU/

I may be mistaken (in which case, please help me finding references to any related discussions), but ISTM that the discussion thread on the RATS list has drifted off, and there was no conclusion reached regarding that particular point.

Summarising:

1. "cmw" semantic is very generic, it needs extra information (e.g., specific media type, profile) to be understood.
2. There can only be one "cmw" claim in a claims-set.

What do people think?


I'll start.

Even with the stated limitations, I think the "cmw" claims, as defined, have value.

CMW claims are about the same granularity as EAT Measurements claim or an EAT submod claim that contains a set or sets of claims.

> CMW claims are about the same granularity as EAT Measurements claim or an EAT submod claim that contains a set or sets of claims.

Correct.  

It is probably worth adding some caveats for the reader, e.g.:

> _There are certain limitations related to the use of the "cmw" claim that the reader should be aware of:_
> 1. _Only one "cmw" claim is allowed at each nesting level._
> 2. _The meaning of the CMW being carried depends on the context. For example, when included in an EAT, the profile (Section 6 of RFC9711) will specify what the CMW is expected to contain._

> CMW claims are about the same granularity as EAT Measurements claim or an EAT submod claim that contains a set or sets of claims.

I dunno about that. A CMW can be endorsements, results, evidence or reference values or all four. That seems way more open-ended than measurements or submods.

EAT itself can be evidence or attestation results. There's not any way to mix evidence and results in one EAT so nothing needed to be said, but there is a way to mix them in CMW.

In a sense claims are cheap. It's not costly to define one CMW-format claim that is submods only and other CMW-format claims for other uses cases. Would be interested to hear about some specific ones. Like how would you construct an evidence token that bundles the corresponding endorsement the way CMS/TLS carry corresponding cert chains.

Also, attestation is more complicated and confusing than CMS, TLS and such, so it seems helpful to the reader/implementor to be more clear and specific. Also helps things interoperate.




I have convinced myself that for EAT, a "nested-token" claims is much preferred to a "cmw" claim. It just seems confusing and chaotic for humans and implementations to have to traverse and sift a generic "cmw" claims to sort evidence from endorsements and such. This idea probably applies to all uses of the "cmw" claim, but I'm focusing on EAT here. Here's a first pass at text for the "nested-token" claim:

The "nested-token" claim replaces the "submods" claim for subordinate modules, as defined in [EAT section 4.2.18.3] on Nested Tokens. These nested tokens typically represent claim sets from distinct subordinate attesting environments.

In an evidence EAT, every member, regardless of nesting depth, of the nested-token claim MUST be evidence. Likewise, in an attestation results EAT, every member MUST be attestation results. The "ind" item from CMW MUST NOT be used in the nested-token claim.

Each member's message type is identified by a "type" item. Members can be of any format, including non-CBOR/JSON types and those defined outside the RATS WG. However, they MUST always be either evidence or attestation results.

If there is a need to carry endorsements, reference values, or other non-evidence/attestation result messages in an EAT, a separate claim SHOULD be defined for that purpose.

Finally, EAT is transitioning away from the CBOR tag mechanism for identifying messages within claims, as it only applies to CBOR and lacks a JSON equivalent. Instead, content type/format is preferred for its universality.

A note on this point:

> I have convinced myself that for EAT, a "nested-token" claims is much preferred to a "cmw" claim.

EAT scope is Evidence and Attestation Results.

For uses of CMW that include other kinds of conceptual messages (e.g., Endorsements, Reference Values and Policies), `"nested-token"` would not be appropriate.  Using `"cmw"` in such cases seems like a good way to plug the CMW into a JWT/CWT.


Closing as per https://mailarchive.ietf.org/arch/msg/rats/BOuynAn0LVKJse1YCRaBqIxmiYI/