In 3.3, re: cmc_t, the “MUST NOT be used for a label” is a bit strange since that is what it is used for. “MUST NOT be used for any purpose other than described here” or some requirement based on the uri / oid value type may be better. Should a cut be used here (as described in section 3.5.4 in RFC 8610)?

> Should a cut be used here (as described in section 3.5.4 in RFC 8610)?

Yes.  Note that the `:` used for `__cmwc_t` has already cut semantics (i.e., it should be equivalent to `^ =>`).