Further comments from Mike

Some [further comments](https://mailarchive.ietf.org/arch/msg/rats/3XR_dNtlNKgc6bY6C4n3biaPuko/) from Mike Jones:

* [x] I suggest changing the identifier "base64-string" to "base64url-string" or "base64url-encoded-string".  The current name could be interpreted ambiguously by implementers. If you want to be even more precise, I'd suggest referencing the "Base64url Encoding" definition in Section 2 of RFC 7515.

* [x] Finally, in the Acknowledgments, please change "Mike Jones" to "Michael B. Jones".  (My name is very common so I always include the middle initial in professional contexts to try to help with disambiguation.)


