media-type pre-allocation to use provisional M-T registry

We've been informed that instead of making an early allocation in the registry at https://www.iana.org/assignments/media-types, we would need to add these to the provisional standard media type registry at https://www.iana.org/assignments/provisional-standard-media-types.

When the document is approved for publication, we would remove those entries from the provisional registry and add them to the media type registry itself.

Is it OK with the CMW authors for the pre-allocation request to be modified to target the Provisional Standard Media Type Registry?


> Is it OK with the CMW authors for the pre-allocation request to be modified to target the Provisional Standard Media Type Registry?

WFM.  However, reading [Section 5.2.1 of RFC6838](https://www.rfc-editor.org/rfc/rfc6838.html#section-5.2.1):

```
   [a] provisional registration process is provided to
   support early assignment of media type names in the standards tree.
   A provisional registration MAY be submitted to IANA for standards-
   tree types.  The only required fields in such registrations are the
   media type name and contact information (including the standards-
   related organization name).

   Upon receipt of a provisional registration, IANA will check the name
   and contact information, then publish the registration in a distinct
   publicly visible provisional registration list.
```

from the I-D perspective, there is nothing extra to do.

We probably just need to send a request to IANA to trigger the registration in the Provisional registry.



done in #92 