Cases where secure channel is insufficient

> In some scenarios, a secure channel (e.g., via TLS [[BCP195](https://www.ietf.org/archive/id/draft-ietf-rats-msg-wrap-15.html#BCP195)]) or object-level security (e.g., using JWT [[BCP225](https://www.ietf.org/archive/id/draft-ietf-rats-msg-wrap-15.html#BCP225)]) may be sufficient, but this is not always the case.

Explain the cases where a secure channel is not sufficient. 

> > An example that comes to mind is remote attestation, but I might be missing something obvious here. Remote attestation could proof the use of certain key protection (key attestation) or the isolation of execution environments (confidentiality attestation).
> 
> That's a very surprising example. As per the title, I would have expected the whole document is about remote attestation, and it is there by default. This statement in the issue seems to be saying secure channel on top of remote attestation is insufficient. To me, it looks like saying attested TLS is insufficient. So why is attested TLS insufficient in the example you have given?

The key point to note is that CMWs wrap *any* RATS messages, which *include* (but are not limited to) Evidence.

When CMWs are used for the conveyance of Reference Values, Endorsements and Attestation Results, “simple” transport or object security may be OK.

Vice versa, when CMWs are used for Evidence, the security properties (authenticity and integrity protection) need to be rooted in the Attester's root of trust.


I am still confused. So let's step back. Your intention with the following sentence
> In some scenarios, a secure channel (e.g., via TLS [[BCP195](https://www.ietf.org/archive/id/draft-ietf-rats-msg-wrap-15.html#BCP195)]) or object-level security (e.g., using JWT [[BCP225](https://www.ietf.org/archive/id/draft-ietf-rats-msg-wrap-15.html#BCP225)]) may be sufficient, but this is not always the case.

is to say that: (Intentionally skipping object security as I am not interested in that)

- TLS _alone_ (without remote attestation) is insufficient? 
- Attested TLS is insufficient?

The former does not make any sense to me. I thought CMW is for RATS. Why would someone use CMW without remote attestation? 

If the latter, I am asking for an example/scenario, where attested TLS is insufficient. Given the way it is phrased (excluding "some scenarios"), this should not be a big ask.

> I am still confused. So let's step back. Your intention with the following sentence
> 
> > In some scenarios, a secure channel (e.g., via TLS [[BCP195](https://www.ietf.org/archive/id/draft-ietf-rats-msg-wrap-15.html#BCP195)]) or object-level security (e.g., using JWT [[BCP225](https://www.ietf.org/archive/id/draft-ietf-rats-msg-wrap-15.html#BCP225)]) may be sufficient, but this is not always the case.
> 
> is to say that: (Intentionally skipping object security as I am not interested in that)
> 
> * TLS _alone_ (without remote attestation) is insufficient?

Yes, this one.

> * Attested TLS is insufficient?

No, not this one.

> The former does not make any sense to me. I thought CMW is for RATS. Why would someone use CMW without remote attestation?

See [above.](https://github.com/ietf-rats-wg/draft-ietf-rats-msg-wrap/issues/222#issuecomment-2926474985)

> If the latter, I am asking for an example/scenario, where attested TLS is insufficient. Given the way it is phrased (excluding "some scenarios"), this should not be a big ask.

It’s certainly not the latter, otherwise “TLS” would be “attested TLS”.


> Yes, this one.

Ok thanks. But then why is the CMW draft discussing about _TLS alone_? Is it possible to use CMW with _TLS alone_ (without remote attestation)?

> It’s certainly not the latter, otherwise “TLS” would be “attested TLS”.

To me, CMW is only meant to be for RATS. So, "attested" is there by default. 

What about this:

> In some scenarios, for instance, if CMW encapsulates Reference Values and/or Endorsements, a secure channel (e.g., via TLS [BCP195]) or object-level security (e.g., using JWT [BCP225]) may suffice, but this is not always the case.

> Quite a long sentence and a bit difficult to parse. I don't like "and/or". Please make it more precise.

Without a better definition of what “more precise” means, yours looks like simple editorial preference.

Please provide a concrete suggestion, or I’ll leave it as-is and let the RFC editor take care of improving its quality.

> Please also give an example of "not always the case". That could be Evidence and give some hints to implementers on what to do in cases where secure channel is insufficient.

That is already articulated in the following paragraph:

> _"When a CMW is used to carry Evidence for composite or layered attestation of a single device, all components within the CMW must be cryptographically bound […]”_

> > Without a better definition of what “more precise” means, yours looks like simple editorial preference.
> 
> If you read it in the context of the previous two sentences in this paragraph, it might make more sense. Particularly,
> 
> > authenticity, integrity protection, or confidentiality.
> > necessary security properties and implement them accordingly.
> 
> So my question precisely is: what are those security properties that the following phrase is referring to:
> 
> > this is not always the case.

the security properties are the same.  what changes is the “quality” of the signing key material, i.e., "simple” key vs and “attestation” key.

> Here is my concrete suggestion: First two sentences in the paragraph are talking about security properties. But the sentence afterwards is vague. I would like to see which properties are intended in that sentence.
> 
> > That is already articulated in the following paragraph:
> 
> So the "but this is not always the case" part is only related to composite and layered attester?

Attesters are the focus of that, as explained in the following para.

Please have a look at #223 and add your suggestions there.


> > the security properties are the same. what changes is the “quality” of the signing key material, i.e., "simple” key vs and “attestation” key.
> 
> I don't find this being mentioned anywhere in the security considerations.

It is literally in the same paragraph: _”Authenticity and integrity protection MUST be provided by the attestation technology."_

> 
> > Attesters are the focus of that, as explained in the following para.
> 
> Well, that paragraph is only talking about Layered and Composite Attesters, and not Attesters in general. Hence, my question: is it only related to Composite and Layered Attester?

There is nothing new to be said about “simple” Attesters that hasn’t already been articulated in Section 12.2 of RFC9334.  Since we start the section by telling the reader “look there first”, I reckon it’s not necessary to restate the obvious.  So we only add on top of that, i.e., the case of composite/layered in the context of CMW collections.

> > Please have a look at [#223](https://github.com/ietf-rats-wg/draft-ietf-rats-msg-wrap/pull/223) and add your suggestions there.
> 
> I don't see anything new in the PR which is not mentioned in this issue. What exactly you would like me to look at there?

The hint was to make editorial suggestions there if you have any.

