> ## Note that this will be a downref, though. Per RFC3967, I’m afraid that we fall under the following:
>
>   For Standards Track or BCP documents requiring normative reference to
>   documents of lower maturity, the normal IETF Last Call procedure will
>   be issued, with the need for the downward reference explicitly
>   documented in the Last Call itself.

Please note that Section 2 of RFC 8067 relaxes this requirement, making it at the discretion of the IESG.